# Releases the plugin to GitHub and VS Code Marketplace
name: Release
on:
  release:
    types: [released]

jobs:
    package:
        name: Package
        uses: ./.github/workflows/package.yml
        secrets: inherit
        with:
          version: ${{ github.event.release.tag_name }}

    release:
        name: Release
        runs-on: ubuntu-latest
        needs: package
        environment: prod
        steps:
            # Check out current repository
            - name: Fetch Sources
              uses: actions/checkout@v4

            - name: Download VSIX artifact
              uses: actions/download-artifact@v4
              with:
                  name: theia-credential-bridge-${{ github.event.release.tag_name }}.vsix
                  path: .

            - uses: pnpm/action-setup@v4
              with:
                version: 10
            
            - uses: actions/setup-node@v4
              with:
                node-version: 24
                cache: "pnpm"

            - name: Install Dependencies
              run: pnpm install --frozen-lockfile

            - name: Strip v from version
              id: strip-v
              shell: bash
              run: |
                TAG=${{ github.event.release.tag_name }}
                echo "VERSION=${TAG#v}" >> $GITHUB_OUTPUT

            # # Release to VS Code Marketplace
            # - name: Publish to VS Code Marketplace
            #   run: pnpm exec vsce publish --packagePath ./credential-bridge-${{ steps.strip-v.outputs.VERSION }}.vsix -p ${{ secrets.PUBLISH_TOKEN }}
            
            # # Release to Open VSX Registry (for Eclipse Theia)
            # - name: Publish to Open VSX Registry
            #   id: ovsx-publish
            #   run: pnpm exec ovsx publish -p ${{ secrets.PUBLISH_VSX }} ./credential-bridge-${{ steps.strip-v.outputs.VERSION }}.vsix

            # Upload artifact as a release asset
            - name: Upload Release Asset
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: gh release upload ${{ github.event.release.tag_name }} ./credential-bridge-${{ steps.strip-v.outputs.VERSION }}.vsix

